/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  text-align: center;
  min-height: 110vh;
  background: #fff;
  transition: .2;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

h1, h2, h3, h4, p, button, input, ul, li {
  font-family: 'Open Sans', sans-serif;
}

.headerLinks, button {
  cursor: pointer;
}

.header {
  width: 100vw;
  height: 10vh;
  background: #F1F0EA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #2D232E;
  opacity: .75;
}

.headerLinks {
  font-size: 25px;
  font-weight: bold;
  justify-self: flex-end;
  display: flex;
  list-style-type: none;
  width: 30vw;
  justify-content: space-around;
}

.headerListItem:hover {
  /* font-weight: 800; */
  text-shadow:
  -.5px -.5px 0 #2D232E,
  -.5px -.5px 0 #2D232E,
  -.5px -.5px 0 #2D232E,
  -.5px -.5px 0 #2D232E;
}

.appTitle {
  text-align: center;
  margin-left: 20px;
  font-weight: 800;
  font-size: 40px;
  cursor: pointer;
}

.pageTitle {
  width: 100vw;
  padding: 7px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #2D232E;
  background: #F1F0EA;
  opacity: .8;
}

/* Styling for Search Results */

.searchComponent {
  display: flex;
  width: 90vw;
  min-height: 110vh;
  margin: 0px auto;
  justify-content: center;
  flex-wrap: wrap;
}

.searchBar {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.searchInput {
  width: 30vw;
  height: 30px;
  font-size: 14pt;
}

.resultBox {
  display: flex;
  margin: 20px 10px;
  width: 15vw;
  height: 45vh;
  justify-content: center;
  align-content: center;
  background: rgba(71,68,72, .7);
  color: #F1F0EA;
  border-radius: 20px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  width: 90%;
  height: 90%;
  margin: auto;
}

.resultThumb {
  max-width: 80%;
  max-height: 60%;
  margin: 15px;
  align-self: center;
  border: 2px solid #2D232E
}

.resultTitle {
  font-weight: bold;
}

.addNewBtn {
  font-weight: bold;
  font-size: 16pt;
  border-radius: 20px;
  border: none;
  background: #2D232E;
  width: 30%;
  opacity: .7;
  color: #E6EED6;
  align-self: center;
  justify-self: flex-end;
}

.addNewBtn:hover {
  background: #534B52;
  color: #E6EED6;
}

.gameList {
  margin: 20px auto;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.gameContainer {
  width: 20vw;
  height: 35vw;
  margin: 20px 20px;
  background: rgba(71,68,72, .7);
  position: relative;
  border-radius: 20px;
  overflow: scroll;
}

.gameBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  color: #F1F0EA;
}

.coverArt {
  max-width: 80%;
  max-height: 45%;
  margin-top: 20px;
  align-self: center;
  border: 2px solid #2D232E;
}

.gameTitle {
  margin: 10px auto;
  font-weight: bold;
  font-size: 16pt;
  width: 90%;
}

.notes {
  margin: 10px auto;
  max-height: 30%;
  padding: 15px;
  width: 90%;
  overflow: scroll;
}

.noteInput {
  width: 70%;
  margin: 0px auto;
}

/* buttons */

.addBtn, .cancelBtn {
  background: #2D232E;
  opacity: .7;
  color: #E6EED6;
  margin: 20px;
  width: 20vw;
  height: 5vh;
  font-size: 25px;
  border-radius: 20px;
  transition-duration: 0.2s;
}

.addBtn:hover, .cancelBtn:hover {
  background: #534B52;
  color: #E6EED6;
}

.deleteBtn {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 2;
  margin: 10px;
  border: none;
  background: none;
  color: #2D232E;
  font-size: 30px;
  font-weight: 800;
  opacity: .7;
  text-shadow:
  -1px -1px 0 #F1F0EA,
  1px -1px 0 #F1F0EA,
  -1px 1px 0 #F1F0EA,
  1px 1px 0 #F1F0EA;
}

.deleteBtn:hover {
  color: #A72608;
}

.editNoteBtn, .moveBtn {
  padding: 5px 0px;
  width: 60%;
  font-size: 12pt;
  align-self: center;
  border: none;
  border-radius: 10pt;
  background: #2D232E;
  opacity: .7;
  color: #F1F0EA;
}

.editNoteBtn:hover, .moveBtn:hover {
  background: #534B52;
  color: #E6EED6;
}

.editNoteBtn {
  justify-self: flex-end;
}

.moveBtn {
  justify-self: flex-end;
  margin-top: 10px;
  margin-bottom: 15px;
}

.cancelEditBtn {
  border: none;
  border-radius: 50pt;
  background: #2D232E;
  opacity: .7;
  color: #F1F0EA;
  margin: 0px 10px;
}

